{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "indent": ["warn", 4]
  },
  "overrides": [
    {
      "files": ["**/*.spec.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
